* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1700px;
}

.list-btn i {
  color: #888888;
}

.active {
  color: #0175b3 !important;
}

.btn-info {
  border: 0;
  padding: 10px 20px;
  background-color: #0175b3;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4vw;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 74%;
  height: 100%;
}

.dbl-lines-bdr {
  position: relative;
  width: 100%;
}

.dbl-lines-bdr::before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #6c6d6f;
  width: 160px;
  bottom: -10px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.dbl-lines-bdr::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #6c6d6f;
  width: 100px;
  bottom: -15px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.one-lines-bdr {
  position: relative;
  width: 100%;
}

.one-lines-bdr::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid #d8d8da;
  width: 8vw;
  bottom: -10px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.social-icons a {
  background: #fff;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.social-icons a i {
  color: #0175b3;
}

.social-icons a:hover {
  background: transparent;
  border: 1px solid #fff;
}

.social-icons a:hover i {
  color: #fff;
}

#top {
  background: #0175b3;
}

#top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#top .container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#top .container .contact a,
#top .container .contact i {
  color: #fff;
}

#top .container .contact a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  #top .container .contact a {
    display: none;
  }
  #top .container .contact i {
    width: 25px;
    height: 25px;
    padding-right: 1px;
    border: 1px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  #top .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #top .container .contact {
    display: none;
  }
  #top .container .social-icons {
    gap: 10vw;
  }
}

#header {
  height: 137px;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .container .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .container .logo img {
  width: 100%;
  height: auto;
}

#header .container .navigations {
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .container .navigations a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#header .container .navigations a:not(:first-child) {
  color: #363a42;
}

#header .container .navigations a:hover {
  color: #0175b3;
}

#header .container .navigations .input {
  position: relative;
}

#header .container .navigations .input input {
  padding: 10px 0 10px 5px;
  text-transform: uppercase;
  outline: 1px transparent;
}

#header .container .navigations .input input:focus {
  text-transform: capitalize;
}

#header .container .navigations i {
  position: absolute;
  color: #363a42;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#header .container .navigations .contactus {
  white-space: pre;
}

@media (max-width: 1100px) {
  #header .container .navigations a {
    display: none;
  }
}

@media (max-width: 480px) {
  #header .container .navigations .input input {
    padding: 5px 0 5px 5px;
    width: 120px;
    font-size: 10px;
  }
}

#banner {
  position: relative;
  opacity: .95;
}

#banner img {
  width: 100%;
  height: auto;
}

#banner .container {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(0.5rem + 1vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0 0 2vw 5vw;
}

#banner .container .text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 0 4vw 0;
}

#banner .container .text h1 {
  color: #0175b3;
}

#banner .container .text p {
  margin-bottom: 10px;
  margin: 4vw 0;
  width: 50%;
  color: #363a42;
}

#banner .container .text a {
  padding: 8px 15px;
  text-transform: uppercase;
  color: #fff;
  background: #0175b3;
}

@media (max-width: 480px) {
  #banner .container .text p {
    margin-bottom: 5px;
    margin: 3vw 0;
    width: 60%;
  }
}

#introduction .container {
  padding: 5%;
  font-size: calc(0.7rem + 1vw);
}

#introduction .container h1 {
  margin-bottom: 3vw;
  color: #0175b3;
}

#introduction .container p {
  margin-bottom: 20px;
  color: #686868;
}

@media (max-width: 1100px) {
  #introduction .container h1 {
    font-size: 35px;
    margin-bottom: 5vw;
  }
}

@media (max-width: 480px) {
  #introduction .container h1 {
    font-size: 20px;
    margin-bottom: 5vw;
  }
}

#consultation {
  position: relative;
}

#consultation .img img {
  width: 100%;
  height: auto;
  opacity: .8;
}

#consultation .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 10vw;
  font-size: calc(.7rem + 1.3vw);
  color: #fff;
}

#consultation .container .text h1 {
  margin-bottom: 5vw;
}

@media (max-width: 1100px) {
  #consultation .container .text .one-lines-bdr::before {
    bottom: -5px;
    border: 1.5px solid #d8d8da;
  }
  #consultation .container .text h1 {
    margin-bottom: 2vw;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  #consultation .container {
    padding-top: 1vw;
  }
  #consultation .container .text a {
    padding: 5px 10px;
    font-size: 1.4vw;
  }
}

#our-team #title {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#our-team #title h1 {
  color: #0175b3;
  text-align: center;
}

#our-team .our-team-info {
  background-color: #d8d8da;
}

#our-team .our-team-info .container {
  min-height: 630px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

#our-team .our-team-info .container .box {
  border: 1px solid #000;
  height: 495px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 10px 2px #d8d8da;
          box-shadow: 1px 1px 10px 2px #d8d8da;
}

#our-team .our-team-info .container .box img {
  width: 100%;
  height: auto;
}

#our-team .our-team-info .container .box h3 {
  margin-top: 1vw;
  color: #0175b3;
  text-transform: uppercase;
  font-weight: bold;
}

#our-team .our-team-info .container .box p {
  padding: 1vw;
  font-size: 15px;
}

@media (max-width: 1000px) {
  #our-team .our-team-info .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 480px) {
  #our-team .our-team-info .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

#our-services {
  border: 1px solid #000;
}

#our-services .title h1 {
  color: #0175b3;
  font-size: 45px;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 2vw;
}

#our-services .container .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#our-services .container .list .box {
  max-width: 300px;
  height: 300px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
  text-align: center;
}

#our-services .container .list .box img {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#our-services .container .list .box h3 {
  color: #0175b3;
  text-transform: uppercase;
  margin: 1vw 0;
}

#our-services .container .list .box p {
  padding: 0 1vw;
}

#our-services .container .list-btn {
  margin: 4vw 0;
}

@media (max-width: 1000px) {
  #our-services .container .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 480px) {
  #our-services .container .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#our-says {
  position: relative;
}

#our-says .img img {
  width: 100%;
  height: auto;
}

#our-says .container {
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#our-says .container h1 {
  font-size: 40px;
  margin-top: 3vw;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

#our-says .container .dbl-lines-bdr::before {
  border-bottom: 2px solid #d8d8da;
}

#our-says .container .dbl-lines-bdr::after {
  border-bottom: 2px solid #d8d8da;
}

#our-says .container p {
  color: #fff;
  width: 70%;
  margin: 0 auto;
}

#our-says .container img {
  border-radius: 50%;
  margin: 2vw 0;
}

@media (max-width: 1100px) {
  #our-says .container h1 {
    font-size: 30px;
    margin-top: 1vw;
  }
  #our-says .container p {
    width: 100%;
  }
  #our-says .container img {
    width: 50px;
  }
}

@media (max-width: 768px) {
  #our-says .container h1 {
    font-size: 20px;
    margin-top: 2vw;
  }
  #our-says .container .text {
    display: none;
  }
}

@media (max-width: 480px) {
  #our-says .container .dbl-lines-bdr::before {
    border: 0px solid #000;
  }
  #our-says .container .dbl-lines-bdr::after {
    border: 0px solid #000;
  }
  #our-says .container h1 {
    font-size: 17px;
    margin-top: 1vw;
  }
  #our-says .container .text {
    display: none;
  }
  #our-says .container img {
    width: 30px;
  }
}

#about-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#about-us .container h1 {
  margin-top: 1vw;
  color: #0175b3;
  font-size: 40px;
}

#about-us .container p {
  width: 50%;
  margin: 2vw auto;
}

@media (max-width: 768px) {
  #about-us .container h1 {
    margin-bottom: 5vw;
  }
}

@media (max-width: 480px) {
  #about-us .container h1 {
    margin-bottom: 5vw;
  }
  #about-us .container .text {
    display: none;
  }
}

#form {
  background-color: #1a4876;
}

#form .container {
  padding: 3vw 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
}

#form .container .request {
  padding-right: 4rem;
  text-align: left;
}

#form .container .request h3 {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 2vw;
}

#form .container .request p {
  color: #fff;
  letter-spacing: 2px;
  word-spacing: 2px;
}

#form .container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5vw;
}

#form .container form input {
  border: 0;
  height: 45px;
  padding-left: .5vw;
}

#form .container form input:hover {
  outline: 1px solid #d8d8da;
}

#form .container form textarea {
  padding-left: .5vw;
  outline: 1px solid #d8d8da;
  height: 6vw;
  grid-column: span 2;
  border: 1px solid transparent;
}

#form .container form textarea:hover {
  border: 1px solid #6c6d6f;
}

#form .container form button {
  border: 0;
  width: 100px;
  height: 50px;
  text-transform: uppercase;
}

#form .container form button:hover {
  cursor: pointer;
}

@media (max-width: 920px) {
  #form .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5vw;
  }
  #form .container .request {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  #form .container form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #form .container form input {
    padding-left: 5px;
  }
  #form .container form textarea {
    grid-column: span 1;
    height: 80px;
  }
  #form .container form button {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 120px;
    height: 40px;
  }
}

#footer {
  background-color: #363a42;
  color: #fdfdfd;
}

#footer a {
  color: #fff;
  margin-bottom: .7vw;
}

#footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto auto 30%;
      grid-template-columns: 30% auto auto 30%;
  padding-top: 6vw;
}

#footer .container .box {
  text-align: left;
  -ms-grid-column-align: center;
      justify-self: center;
}

#footer .container .box h2 {
  text-transform: uppercase;
  margin-bottom: 2vw;
  font-size: 22px;
  font-weight: normal;
}

#footer .container .box1 p {
  width: 90%;
  margin-bottom: 1.5vw;
}

#footer .container .box1 .address {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
      grid-template-columns: 20px auto;
  gap: .2vw;
}

#footer .container .box2 {
  padding-right: 2vw;
}

#footer .container .box2 .list {
  display: -ms-grid;
  display: grid;
}

#footer .container .box3 {
  padding-right: 2vw;
}

#footer .container .box3 .list {
  display: -ms-grid;
  display: grid;
}

#footer .container .box4 form {
  margin: 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .container .box4 form input {
  padding: 1vw 1vw;
  outline: 0;
  border: 0;
  font-style: italic;
}

#footer .container .box4 form button {
  background-color: #0175b3;
  padding: 1vw 1vw;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  color: #fff;
}

#footer .container .box4 .social-icons i {
  color: #363a42;
}

#footer .container .box4 .social-icons a:hover i {
  color: #fff;
}

#footer .container .box + .box {
  position: relative;
  padding-left: 3vw;
}

#footer .container .box + .box::before {
  content: "";
  position: absolute;
  border-left: 1px solid #686868;
  height: 15vw;
  left: 0;
}

#footer .container .footer-1 {
  text-align: center;
  grid-column: span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 3vw 0 2vw 0;
}

@media (max-width: 1500px) {
  #footer .container {
    -ms-grid-columns: 25% auto auto 30%;
        grid-template-columns: 25% auto auto 30%;
  }
  #footer .container .box + .box {
    padding-left: 2vw;
  }
  #footer .container .box + .box::before {
    border-left: 1px solid #686868;
    height: 220px;
  }
}

@media (max-width: 1230px) {
  #footer .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #footer .container .box {
    width: 100%;
  }
  #footer .container .box1 {
    grid-column: span 4;
  }
  #footer .container .box + .box {
    padding-left: 0vw;
  }
  #footer .container .box + .box::before {
    border-left: 0px solid #686868;
  }
}

@media (max-width: 768px) {
  #footer .container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }
  #footer .container .box4 {
    grid-column: span 4;
  }
}

@media (max-width: 480px) {
  #footer .container .box3 {
    grid-column: span 4;
  }
  #footer .container .box + .box,
  #footer .container .footer-1 {
    border-top: 1px solid #686868;
    padding-top: 2vw;
  }
}
/*# sourceMappingURL=style.css.map */